
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Home/Shared/_HomeLayout.cshtml";
}
@model AracKiralama.Models.Login


@if (ViewBag.error != null)
{
    <h5 class="alert alert-danger">@ViewBag.error  </h5>}
<div class="col-md-6 col-md-offset-3" >
    <h2>Giris</h2>
    <form method="post">
        <div class="form-group">
            @Html.LabelFor(x => x.email)
            @Html.TextBoxFor(x => x.email, new { type = "email", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.password)
            @Html.TextBoxFor(x => x.password, new { type = "password", @class = "form-control" })
        </div>
        <input type="submit" class="btn btn-default" value="kaydet" />

    </form>
</div>