
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Shared/_HomeLayout.cshtml";
}
@model List<AracKiralama.Models.Arac>

<header class="jumbotron hero-spacer">
    <h1>CARSO Araç Kiralama</h1>
    <p>Hoş geldiniz.Yapacağınız bütün kiralamar SO sigorta güvencesindedir.</p>
    <p>
        <a href="@Url.Action("Index","Musteri")" class="btn btn-primary btn-large">Üye Ol</a>
    </p>
</header>
<hr>
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Latest Features</h3>
    </div>
</div>
@foreach (var item in Model)
{
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="@item.imagePath" alt="">
            <div class="caption">
                <h3>@item.Marka</h3>
                <p>@item.Model @item.Plaka @item.Vites @item.Fiyat</p>
                <p>
                    <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
}
    <!-- Page Features -->
    

